<div class="widgets">

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <ba-card cardTitle="Estabelecimento Hoteleiro" baCardClass="with-scroll">
        <standard-inputs></standard-inputs>
      </ba-card>
    </div>
  </div>

  <div class="widgets">

    <div class="row">
      <smart-tables></smart-tables>
    </div>

  </div>

  <div class="widgets">
    
      <div class="row">
        <smart-tables2></smart-tables2>
      </div>
  
    </div>
</div>