<form>
  <div class="form-group">
        <label for="textarea01">Descrição</label>
        <textarea placeholder="Informação" class="form-control" id="textarea01"></textarea>
  </div>    
  <div class="form-group">
    <label for="input01">Morada</label>
    <input type="text" class="form-control" id="input01" placeholder="">
  </div>
  <div class="form-group">
      <label for="input01">Contacto Telefónico</label>
      <input type="text" class="form-control" id="input01" placeholder="">
  </div>  
  <div class="form-group">
      <label for="input01">Mail</label>
      <input type="text" class="form-control" id="input01" placeholder="">
  </div>
  <button type="Guardar" class="btn btn-primary">Submit</button>

</form>
