#butao{
    text-align: center;
    text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 12px 2px;
}

#alterarServicos {
  font-size: 16px;
  margin: 4px 2px;


}

#apresentarEstado{
  font-size: 13px;
  margin: 4px 2px;

}

#okBotao {
  font-size: 16px;
  margin: 4px 2px;

}
